@font-face {
  font-family: "Neris-bold";
  src: url("../FONTS/Neris-SemiBold.otf");
}

body {
  width: 100%;
  height: 100vh;
  background: url("../IMG/bg.jpg");
  background-size: cover;
  background-position: center;
}

.inner-body {
  width: 1400px;
  margin: 0px auto;
}
.main-nav {
  width: 100%;
  height: 160px;
  display: flex;

}

.logo {
  width: 80px;
  height: 80px;
  margin: 40px;
  margin-right: 15px;
  display:block;
  position: relative;
}
.logo-border {
  position: absolute;
  left: 0px;
  top: 0px;
  border: 7px solid #ffffff;
  height: 66px;
  width: 66px;
  transform: rotate(45deg);

}

.logo-rotate {
  width: 80px;
  height: 80px;
  position: relative;
  transform: rotateX(50deg);
}

.divider {
  background-color: #ffffff;
  width: 30px;
  height: 4px;
  position: absolute;
  left: calc(50% - 15px);
  top: calc(50% - 2px);
}
.letter {
  color: #ffffff;
  width: 14px;
  height: 50px;
  position: absolute;
  left: calc(50% - 7px);
  top: calc(50% - 26px);
  text-align: center;
  line-height: 25px;
  font-size: 16px;
  font-family: "Neris-bold";
  word-break: break-all;
  vertical-align: middle;
}

.logo-heading {
  font-family: "Neris-bold";
  display:block;
  height: 80px;
  margin: 40px 15px;
  line-height: 80px;
  vertical-align: middle;
  color: #ffffff;
  font-size: 26px;

}

.complete-logo {
  width: 450px;
  display: flex;
  height: 160px;

}

.nav-items {
  height: 80px;
  width: calc(100% - 450px);
  margin:40px 0px;
  justify-content: flex-end;
  display: flex;
}

.nav-item {
  display: inline-block;
  height: 80px;
  line-height: 80px;
  vertical-align: middle;
  position: relative;
  margin: 0px 10px;
}
.nav-item a {
  font-family: "Neris-bold";
  color: #ffffff;
  text-decoration: none;


}
.underline {
  position: absolute;
  width: 0%;
  height: 3px;
  background-color: #ffffff;
  top: calc(50% + 15px);
  left: 50%;
  transform: translateX(-50%);
  transition: 0.2s all ease-in-out;
}

.nav-item a:hover + .underline {
  width: 100%;
  transition: 0.5s all ease-in-out;
}

.main-content {
  display: flex;
  min-height: calc(100vh - 160px);


}
.login-form {
  width: 400px;
  height: 700px;
  background-color: #ffffff88;
  padding: 25px;
  box-sizing: border-box;
  position: relative;

}
.content-description {
  width: calc(100% - 400px);


}

.loading-div {
  position: relative;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.content-description h1 {
  font-size: 130px;
  color: #ffffff;
  font-family: "Neris-bold";
  padding-right: 100px;
  box-sizing: border-box;
  margin-bottom: 80px;
  font-weight: bold;
}
.content-description p {
  color: #ffffff;
  padding-right: 200px;
  box-sizing: border-box;
  font-family: "Neris-bold";
  margin-bottom: 80px;
  font-size: 28px;
  display: block;
}

.content-description a {
  color: orange;
  text-decoration: none;
  padding: 20px;
  box-sizing: border-box;
  font-family: "Neris-bold";
  font-size: 30px;
}
.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;

}

.property label {
  display: block;
  color: #ffffff;
  font-family: "Neris-bold";
  margin-bottom: 3px;
}
.arrows {
  width: 15px;
  height: 30px;
  text-align: center;
  word-wrap: break-word;
  position: absolute;
  right: 5px;
  bottom: 4px;
  transform: scale(0.5);
}
.property {
  position: relative;
  margin-bottom: 15px;
}

.results {
  width: calc(100% - 50px);
  position: absolute;
  bottom: 25px;
  left: 25px;
  padding: 10px;
  color: #000000;
  background-color: orange;
  font-family: "Neris-bold";
  font-size: 14px;
  padding: 15px;
  box-sizing: border-box;
  outline: none;
  border: none;
}

@keyframes rotate {
  0% { transform:rotate(0deg); }
  100% {transform: rotate(360deg);}
}

.loader {
  width: 100px;
  height: 100px;
  margin: 0px auto;
  border:20px solid grey;
  border-top: 20px solid orange;
  border-radius: 50%;
  animation: rotate 1s infinite ease-in-out;

}
